.navigation {

    &__nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 150;

        //hide the links
        opacity: 0;
        width: 0;

        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    //show the links
    &__checkbox:checked ~ &__nav {
       opacity: 1;
       width: 100%;
    }
}