.recipe-form {
    
    margin-top: $margin-from-header;

    &__title {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
    }
    
    .center {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5rem;

        .container,
        .container-2,
        .container-3,
        .step-container {
            width: 45%;
            height: 48vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .container-2 {
            height: 40vh;
        }

        .container-3 {
            // justify-content: flex-start;
            height: 40vh;
        }
        
        .step-container {
            width: 100%;
            height: auto;
            align-items: center;

            &__text-area {
                width: 60%
            }

            &__button{
                @include button;
                width: 15rem;
                margin-top: 2rem;
            }
        }

        .image-container {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .text {
                cursor: default;
                margin-bottom: 10px;
            }

        }

        .save-button-container {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 5rem;

            button {
                @include button;
                width: 15rem;
            }
        }
    }

    // &__save-button{
    //     @include button;
    //     display: flex;
    //     justify-content: center;
    // }
}
