.filter {
    // margin-top: $margin-from-header;
    width: 100%;
    display: flex;
	justify-content: center;
    align-items: center;


    &__container {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include respond(phone) {
            width: 90%;
        }
    }

    &__apply-btn {
        @include button;
    }
}