.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  gap: 5rem;

  &__search-container {
    width: 40%;
    position: relative; //for the suggestions container
    justify-self: flex-end;

    @include respond(tab-port) {
      width: 50%;
    }

    @include respond(phone) {
      width: 70%;
    }
  }

  /* width */
  &::-webkit-scrollbar {
    width: 1.5rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $color-grey-dark-1;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-grey-dark-1;
    border-radius: 10px;
  }
}
