.my-favorites {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        margin-bottom: 5rem;
    }

    .pagination {
        margin-top: auto;
    }
}