.recipe-container {
	display: flex;
	justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10rem;

    @include respond(phone) {
        flex-direction: column;
    }

    .image-container,
    .video-container{
        width: 35rem;
        height: 27rem;
        display: flex;
        margin-left: auto;
        box-shadow: $shadow-dark;
        border-radius: 10px;
        
        @include respond(phone) {
            margin-top: 5rem;
            width: 30rem;
            height: 22rem;
            margin-left: 0;
        }
    }
}


