.sign-up {
    width: 100%;
    display: flex;
	justify-content: space-around;
    align-items: center;

    @include respond(phone) {
        flex-direction: column;
        position: relative;
    }

    .user-data {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include respond(phone) {
            width: 90%;
        }

        &__title {
            display: flex;
            justify-content: center;
            align-items: center;

            @include respond(phone) {
                margin-bottom: 2rem;
            }
        }
    
        &__container {
            width: 90%;
            height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;

            @include respond(tab-port) {
                width: 100%;
            }
        }
    
        &__button-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 3rem;

            @include respond(phone) {
                position: absolute;
                bottom: -15%;
                left: 0;
                flex-direction: column;
                align-items: center;
            }
    
            button {
                @include button;
                width: 20rem;
                margin-right: 3rem;
                height: 4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                
                @include respond(phone) {
                    margin-right: 0;
                    margin-bottom: 1rem !important;
                }
            }
    
            &--sign-in {
                @include button;
                width: 20rem;
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                height: 4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                outline: none;
                text-decoration: none;

                @include respond(phone) {
                    margin-bottom: 2rem !important;
                }
            }
        }
    }

    &__avatar {
        width: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin-bottom: auto;

        @include respond(phone) {
            margin-bottom: 3rem;
        }

        .text {
            cursor: default;
            margin-bottom: 10px;
        }
    }
}


