//Colors
$color-primary: #ff8099;
$color-primary-light: #f7d5dc;

$color-secondary: #bdad79;
$color-secondary-light: #ffb900;

$color-grey-light-1: #eee;
$color-grey-light-2: #bbb;

$color-grey-dark-1: #777;
$color-grey-dark-2: #333;

$color-black: #000;
$color-red: #d42424;
$color-yellow: #f59e0b;
$color-green: #1a964a;
$color-white: #fff;
$color-white-2: #E5E8E8;

//Font
$font-size-small: 1.5rem;
$font-size-default: 1.6rem;
$font-size-big: 2rem;
$arrow-size: 2.5rem;

//Shadows
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);

$margin-from-header: -10rem;

$margin-from-header-phone: 15rem;

$pagination-pages-height: 55vh;
$pagination-pages-height-tab-land: 80vh;