
.header {
    // position: relative;
    // z-index: 1000;
    height: 10vh;
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    background-color: $color-white;
    
    &__logo {
        height: 12rem;
        margin-right: 5rem;
        margin-left: 3rem;
        cursor: pointer;
    }

    &__search-container {
        width: 50%;
        position: relative;
    }
    
}