.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 9rem;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white;
  border-bottom: 2px solid rgba($color-grey-light-2, 0.5);

  &__right {
    display: flex;
    align-items: center;
    gap: 5rem;
    height: 100%;
    &--logo {
      height: 95%;
      cursor: pointer;
    }
  }
}
