.helper-button-container{
    border: none;
    cursor: pointer;
    font-size: 2.5rem;
    color: inherit;
    z-index: 100;
    // position: absolute;
    // top: 0;
    // right: 0;
    // margin-right: 15px;
    // margin-top: 15px;


    &:active,
    &:focus {
        outline:none;
    }
}