.recipe-item {

    font-size: 1.2rem;
    width: 28rem;
	height: 32rem;
    margin: 1rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    cursor: default;
    flex-shrink: 2;

    // @include respond(tab-land) {
    //     width: 25rem;
    //     height: 29rem;
    // }

    .details-checkbox {
        display: none;
    }
    
    &__container {
        color: $color-white;
        width: 100%;
        height: 100%;
        position: absolute; //for the back and front to be on each other
        top: 0;
        left: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 8px;
        box-shadow: 0 1.5rem 4rem rgba($color_black, .15);
        overflow: hidden;
        transition: transform 1s ease;

        &--front {
            @include primary-gradient;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            z-index: 100;
        }

        &--back-button {
            font-size: $arrow-size;
            padding: 0 2rem
        }

        &--recipe-button {
            text-decoration: none;
            color: inherit;
        }

        &--back {
            //makes the back part start rotated because when we go to the back part of the card 
            //we want to see the front of the div of the back part
            @include secondary-gradient;
            transform: rotateY(180deg);
            display: flex;
            flex-flow: row wrap;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }

    //For checkboxes these combination only works with ~(adjacent sibling) and +(general sibling) selectors
    .details-checkbox:checked ~ &__container--front { //when we hove the recipe-item it rotates the container
        transform: rotateY(-180deg); //goes to the back part of the front card
    }

    .details-checkbox:checked ~ &__container--back {
        transform: rotateY(0);
    }

    &__ingredients {
        list-style: none;
        width: 100%;
        height: 60%;
        text-align: center;
        overflow-y: auto;
        
        li {
            font-size: $font-size-default;
        }

        :not(:last-child) {
            margin-bottom: .8rem;
        }

        :hover {
            color: $color-grey-dark-2;
        }

        /* width */
        &::-webkit-scrollbar {
            width: 1.5rem;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px $color-white;
            border-radius: 10px;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $color-white;
            border-radius: 10px;
        }
    }

    .back-button-container {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin-top: auto;
    }
    
    .front-button-container {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin-top: auto;

        &__edit {
            @include label-button;
            @include notSelectable;
            margin-top: auto;
            text-decoration: none;
            color: $color-white;
            
            &:hover {
                background-color: $color-white;
                color: $color-primary;
            }
        }
    }
} 

