.review-item {
    
    @include primary-gradient;
    width: 99%;
    height: 50%;
    border-radius: 10px;
    
    &:not(:last-child) {
        margin-bottom: 3.5rem;
    }

    .review {
        width: 100%;
        box-shadow: $shadow-light;
        padding: 1.5rem;
        overflow: hidden;
        color: $color-white;

        &__text {
            margin-bottom: 1rem;
            z-index: 10;
            position: relative;
            font-size: $font-size-default;
        }

        &__user {
            display: flex;
            align-items: center;
        }

        &__photo {
            height: 6rem;   
            width: 6rem;
            border-radius: 50%;
            margin-right: 1.5rem;
        }

        &__user-box {
            margin-right: auto;
        }

        &__user-name {
            // font-size: 1.5rem;
            font-size: $font-size-default;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: .4rem;
        }

        &__user-date {
            font-size: $font-size-default;
        }
        
        &__rating {
            font-size: 2.2rem;
        }
    }

}