.media-container {
  width: 18rem;
  height: 10rem;
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  align-items: "center";

  &__img,
  &__video {
    border-radius: 10px;
    width: 100%;
    height: auto;
    z-index: -100;
    overflow: hidden;
  }

  &__video {
    z-index: 0;
  }
}
