.navigation {

    &__checkbox {
        display: none;
    }
    
    &__button-container {
        height: 3rem;
        width: 4rem;
        z-index: 1500;
        cursor: pointer;
        
        @include respond(phone) {
            position: absolute;
            left: 0;
            top: 1rem;
        }
    }

    &__button {
        height: 3rem;
        width: 3rem;
        margin-left: 1rem;
        z-index: 1100;
        text-align: center; //centers the 3 lines icon
    }
}